:host {
  display: flex;
  padding: 10px;
  margin-bottom: 0.5rem;
  border: 1px solid #fff;

  ::ng-deep {
    p {
      margin: 0 !important;
    }

    label {
      margin: 0;
    }
  }

  .action-bar {
    visibility: hidden;
    border-top: 1px solid #ccc;
    padding: 10px;
  }

  &:hover { 
    border: 1px dashed #ccc;
    background: #fafafa;

    .action-bar {
      visibility: visible;
    }
  }
}

input[type=radio] {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  &:checked+label.css-label {
    background-position: -3px -56px;

    &:hover {
      background-position: -3px -56px !important;
    }
  }

  &+label.css-label {
    margin-top: 0;
    width: 28px;
    height: 18px;
    display: inline-block;
    line-height: 21px;
    background-image: url(../../../../assets/select.png);
    background-repeat: no-repeat;
    background-position: -3px 0;
    font-size: 21px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: -5px;
    padding: 5px 0;
    box-sizing: content-box;
    flex: 0 0 28px;

    &:hover {
      background-position: -3px -28px;
    }
  }
}

.answer-content {
  .delete-btn {
    visibility: hidden;
  }

  &:hover {
    .delete-btn {
      visibility: visible;
    }

    ::ng-deep ckeditor .ck-content {
      border: 1px solid #ccc;
    }
  }
}